@import 'bourbon/bourbon';
@import '_normalize';

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800);
@import url(https://fonts.googleapis.com/css?family=Chivo:400,900);


$header-font: 'Chivo', sans-serif;
$body-font: 'Open Sans', sans-serif;
$font-color: #4f6c91;
$no-margin: 0;


html {
  box-sizing: border-box;
  background-color: #FCF2E6;
  font-size: 62.5%; //1rem = 10px//
}

*, *:after, *:before {
  box-sizing: border-box;
}

div {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: $no-margin;
}

body {
  font-family: $body-font;
  line-height: 1.5;
  font-size: 16px;
}

h1,h2, {
  font-family: $header-font;
  color: $font-color;
  margin: $no-margin;
}

h2 {
  font-size: 4rem;
  margin-bottom: 16px;
}
h3 {
  display: inline-block;
  font-size: 2rem;
}

p {
  text-align: justify;
  font-size: 1.8rem;
}
li {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #fff;
  background-color: $font-color;
  font-weight: bold;
  border-bottom: 4px solid #476182;
  border-radius: 4px;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  &:hover {
    opacity: .8;
  }
}


//MAIN ELEMENTS//
.container {
  margin: $no-margin auto;
  max-width: 940px;
  display: flex;
  flex-flow: column wrap;
  background-color: #fff;
  padding: 32px;
  box-shadow: 0px 1px 3px #222;
  @media (max-width: 969px) {
    width: 80%;
  }
  @media (max-width: 420px) {
    width: 95%;
    padding: 10px;
  }
  //HEADER//
  .header {
    text-align: center;
    border-bottom: 1px solid #222;
    .title {
      margin-bottom: 32px;
      font-weight: bold;
    }
    .name {
      font-size: 5rem;
    }
    .contact {
      align-self: center;
      margin-bottom: 8px;
      li {
        display: inline-block;
        margin: $no-margin 5px;
        @media (max-width: 1024px) {
          display: block;
          margin-bottom: 16px;
        }
      }
    }
    .skills {
      li {
        display: inline-block;
        margin-bottom: 8px;
        margin-left: 8px;
        margin-right: 8px;
        @media (max-width: 1024px) {
          display: block;
          margin: $no-margin;
        }
      }
    }
  }
  .proj-links {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    margin-left: 8px;
    a:nth-child(2) {
      margin-left: 8px;
    }
  }
}
