@import 'bourbon/bourbon';
@import '_normalize';
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Chivo:400,900);


$header-font: 'Chivo', 'Varela Round', sans-serif;
$body-font: 'Open Sans', 'Righteous', sans-serif;
$font-color: #4f6c91;
$no-margin: 0;

html {
  box-sizing: border-box;
  background-color: #4F8D91;
}

*, *:after, *:before {
  box-sizing: border-box;
}

div {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: $no-margin;
}

body {
  font-family: $body-font;
  line-height: 1.5;
}

h1,h2, {
  font-family: $header-font;
  color: $font-color;
  font-size: 2em;
}

h2 {
  text-decoration: underline;
  margin: 5px $no-margin;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
  color: #fff;
  background-color: $font-color;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  &:hover {
    opacity: .8;
  }
}


//MAIN ELEMENTS//
.container {
  margin: $no-margin auto;
  width: 45%;
  display: flex;
  flex-flow: column wrap;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 5px 10px #444;
  @media (max-width: 969px) {
    width: 75%;
  }
  @media (max-width: 420px) {
    width: 95%;
    padding: 10px;
  }
  //HEADER//
  .header {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    h1 {
      margin: $no-margin;
    }
    span {
      font-weight: bold;
    }
    .contact {
      align-self: center;
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: .9em;
      li {
        display: inline-block;
        margin: $no-margin 5px;
        @media (max-width: 1024px) {
          display: block;
          margin: $no-margin;
        }
      }
    }
    .skills {
      li {
        display: inline-block;
        margin: $no-margin 5px;
        @media (max-width: 1024px) {
          display: block;
          margin: $no-margin;
        }
      }
    }
  }
  .proj-links {
    font-size: .9em;
    font-weight: bold;
    .divider {
      background-color: $font-color;
      width: 5px;
      height: 8px;
      display: inline-block;
    }
  }

}
