@import 'bourbon/bourbon';
@import '_normalize';


html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: border-box;
}

div {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}
.container {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

}
